<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
    <route url="/admin" module="News" action="index"/>
    <route url="/admin/register\.html" module="Connexion" action="register"/>
    <route url="/admin/login\.html" module="Connexion" action="index"/>
    <route url="/admin/forgot-password\.html" module="Connexion" action="forgotPassword"/>
    <route url="/admin/logout\.html" module="Connexion" action="logout"/>
    <route url="/admin/articles\.html" module="Article" action="index"/>
    <route url="/admin/article-insert\.html" module="Article" action="insert"/>
    <route url="/admin/article-update-([0-9]+)\.html" module="Article" action="update" vars="id" />
    <route url="/admin/article-delete-([0-9]+)\.html" module="Article" action="delete" vars="id" />
</routes>