<?xml version="1.0" encoding="iso-8859-1" ?>
<routes>
    <route url="/" module="Article" action="index"/>
    <route url="/article-([0-9]+)\.html" module="Article" action="show" vars="id"/>
    <route url="/register\.html" module="Customer" action="register"/>
    <route url="/login\.html" module="Customer" action="index"/>
    <route url="/logout\.html" module="Customer" action="logout"/>
    <route url="/forgot-password\.html" module="Customer" action="forgotPassword"/>
</routes>